.Header 
  background-color pink
  padding 1em
  display flex 
  justify-content space-between 
  align-items center
  &__logo 
    font-size 18px 
    color white
  &__button
    border 1px solid grey
    padding 1em
    border-radius 6px
    font-size 12px 
    font-weight 300
    a 
      text-decoration none  
      color white 
    &--about
      background-color blue
    &--success
      background-color grey         
